/* body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
} */

body {
  background-color: rgb(124, 122, 122);
  transition: background-color 1.2s ease;
  margin: 0;
  padding: 0;
  height: 100%;
}

.image-container-tracks,
.image-container-artists,
.image-container-favtracks {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  /* height: 250px; */
}

.mainImage {
  scale: 1.6;
  z-index: 99999 !important;
  filter: blur(0);
}
.mainImage:hover {
  scale: 1.6 !important;
  z-index: 1 !important;
}

@media (max-width: 1284px) {
  .image-container-tracks,
  .image-container-artists,
  .image-container-favtracks {
    display: flex;
    flex-direction: column;
    /* height: 250px; */
    /* width: 250px; */
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .viewContainer {
    flex-direction: column !important;
  }
  
  .backgroundImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    aspect-ratio: 1;
    background-color: transparent;
  }
  .mainImgContainer {
    height: 500px;
    position: absolute;
    aspect-ratio: 1;
  }
  
  .rightContent {
    height: 500px;
    /* position: absolute; */
    aspect-ratio: 1;
  }
  .imgToFill {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .backgroungImgToFill {
    filter: blur(70px);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

@media (max-width: 790px) {
  .image-container-tracks,
  .image-container-artists,
  .image-container-favtracks {
    display: flex;
    flex-direction: column;
    /* height: 250px; */
    /* width: 250px; */
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .viewContainer{
    justify-content: normal !important;
  }
  .backgroundImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px !important;
    aspect-ratio: 1;
    background-color: transparent;
  }
  .mainImgContainer {
    height: 350px !important;
    position: absolute;
    aspect-ratio: 1;
  }
  
  .rightContent {
    height: 350px !important;
    /* position: absolute; */
    aspect-ratio: 1;
  }
  .imgToFill {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .backgroungImgToFill {
    filter: blur(70px);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}
.image {
  width: 100%;
  transition: filter 1.2s ease, scale 0.9s ease;
  height: 100%;
  object-fit: cover;
}

.blur {
  filter: blur(7px);
}

.image:hover {
  scale: 1.05;
  filter: none;
  /* z-index: 1; */
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  padding: 100px;
  mix-blend-mode: difference;
  filter: invert(1);
}

.info {
  position: absolute;
  mix-blend-mode: difference;
  filter: invert(1);
}

/* .image-wrapper:hover .info {
    bottom: 0;
    opacity: 1;
} */

.c {
  justify-content: center;
  /* margin-top: 50px; */
  min-height: 100vh;
  width: 100vw;
}

.viewContainer {
  z-index: 15;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.backgroundImg {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  aspect-ratio: 1;
  background-color: transparent;
}
.mainImgContainer {
  height: 500px;
  position: absolute;
  aspect-ratio: 1;
}

.rightContent {
  height: 500px;
  /* position: absolute; */
  aspect-ratio: 1;
}
.imgToFill {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backgroungImgToFill {
  filter: blur(70px);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trackName {
  height: 100px;
}
.artistName {
  height: 50px;
}
.albumName {
  height: 50px;
}

.infoTrack{
  display: flex;
  filter: invert(1);
  align-items: center;
}

.exitSong{
  position: absolute;
  top: 40px;
  left: 40px;
}