body{
    text-align: center;
    background: blue;
 }
 h1{
   text-align: center;
   padding-top: 20px;
 }
 .centrarBoton{
   margin-top: 20px;
   text-align: center;
 }
  form{
    padding-left: 90px;
    padding-right: 90px;
  }
  