body{
    height: 100vh;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(20, 20, 20);
    align-items: center;
    justify-content: center;
    display: flex;

}
#projects > .image{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}
#projects{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.project_cards{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    height: 260px;
    width: 300px;
}
