@import url('https://fonts.cdnfonts.com/css/sf-pixelate');
body{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    
}

.bienvenida{
    border: 1px solid black;
    border-radius: 8px;
    padding: 55px;
    width: 800px;
    height: 200px;
    background-color: rgba(251,251,253,0.7);
    backdrop-filter: saturate(180%) blur(15px);
}